<ion-header>
  <ion-toolbar>
    <img id="img_toolbar" src="../../assets/Tenedores.png" width="13%" />
    <ion-button id="btn_toolbar" (click)="volver()"
      ><ion-icon name="arrow-undo"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="titulo">
    <h1>Chat mesa {{numMesa}}</h1>
  </div>
  <div
    class="caja-msjs scroll"
    #scrollMe
    [scrollTop]="chat.mensajes?.length === 0 ? 0 : scrollMe.scrollHeight"
  >
    <ion-spinner
      *ngIf="spinner"
      name="lines"
      color="light"
      class="spin"
    ></ion-spinner>
    <div *ngFor="let msj of chat.mensajes; let i = index">
      <div
        #cajaMsj
        id="{{msj.usuario.id}}"
        class="caja-msj"
        [class.mb-0]="i+1 == chat.mensajes.length"
        [class.caja-msj-propio]="usuarioActual.idUsuario == msj.usuario.id"
        [ngClass]="bgMsjOpuesto(msj)"
      >
        <span class="nombre" *ngIf="usuarioActual.idUsuario != msj.usuario.id">
          <span class="nombre" *ngIf="msj.usuario.tipo == 'Mozo'"
            >{{msj.usuario.tipo}}:
          </span>
          <span class="nombre" *ngIf="msj.usuario.tipo != 'Mozo'"
            >Cliente:
          </span>
          {{ msj.usuario.apellido }}
        </span>
        <div class="msj">{{ msj.mensaje }}</div>
      </div>
    </div>
  </div>
  <form [formGroup]="formMsj" class="form-enviar" (ngSubmit)="enviarMensaje()">
    <ion-grid class="grilla">
      <ion-row class="fila">
        <ion-col> 
          <input 
            type="text"
            class="form-control"
            formControlName="mensaje"
            placeholder="Ingrese un mensaje"
            [class.error-borde]="mensaje.errors"
          />
        </ion-col>
        <ion-col size="2" class="col-btn">
          <button
            type="submit"
            class="btn-enviar"
            [disabled]="!formMsj.valid || mensaje.value == ''"
          >
            <ion-icon name="send"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
