<ion-grid>
  <ion-row>
    <ion-col>
      <div (click)="reproducirSonido('vaca')"><img src="../../assets/images/animales/cow.png" /></div>
    </ion-col>
    <ion-col>
      <div (click)="reproducirSonido('zorro')"><img src="../../assets/images/animales/fox.png" /></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div (click)="reproducirSonido('leon')"><img src="../../assets/images/animales/lion.png" /></div>
    </ion-col>
    <ion-col>
      <div (click)="reproducirSonido('delfin')"><img src="../../assets/images/animales/dolphin.png" /></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div (click)="reproducirSonido('tortuga')"><img src="../../assets/images/animales/tortoise.png" /></div>
    </ion-col>
    <ion-col>
      <div (click)="reproducirSonido('pinguino')"><img src="../../assets/images/animales/penguin.png" /></div>
    </ion-col>
  </ion-row>
</ion-grid>
