<ion-grid>
  <ion-row>
    <ion-col>
      <div class="rojo" (click)="reproducirSonido('rojo')"></div>
    </ion-col>
    <ion-col>
      <div class="azul" (click)="reproducirSonido('azul')"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="amarillo" (click)="reproducirSonido('amarillo')"></div>
    </ion-col>
    <ion-col>
      <div class="verde" (click)="reproducirSonido('verde')"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="celeste" (click)="reproducirSonido('celeste')"></div>
    </ion-col>
    <ion-col>
      <div class="morado" (click)="reproducirSonido('morado')"></div>
    </ion-col>
  </ion-row>
</ion-grid>
