@font-face {
    font-family: Font-Regular;
    src: url('../../assets/font/Mithella-Regular.otf');
  }
  
  ion-header , ion-footer {
    text-align: center !important;
  
    ion-toolbar {
        --background: linear-gradient(45deg, rgba(0, 0, 0, 0.8) 0%, rgb(0, 0, 0) 100%);
        padding-top: 10px;
        padding-bottom: 10px;
  
        ion-title {
            font-family: Font-Regular;
            color: white;
        }
    }
  }
  
  ion-content {
    --background: linear-gradient(45deg, rgba(123, 46, 17, 0.8) 0%, rgb(206, 170, 156) 100%);
    font-family: Font-Regular;
  
    ion-input {
        width: 100%;
        color: rgb(255, 255, 255);
        background-color: rgba(46, 17, 3, 0.5);
        border: 2px solid white;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        opacity: 70%;
        text-align: center;
        font-family: Font-Regular;
    }
  
    button {
        width: 100%;
        height: 40px;
        font-family: Font-Regular;
        margin-bottom: 5px;
        white-space: normal;
        border: none;
        color: white;
        background: linear-gradient(45deg, rgba(0, 0, 0, 0.8) 0%, rgb(0, 0, 0) 100%);
    }
  
    ion-item {
        --background: rgba(46, 17, 3, 0.3);
        border: 2px solid white;
        border-radius: 5px;
        margin-bottom: 2px;
    }

    ion-label {
      text-align: right;
    }

    p {
        color: white;
    }

    h2 {
        font-size: 20px;
        color: white;
    }
  }

  .contenido{
    padding: 10px;
    text-align: center;

    img{
      margin-top: 10px;
    }
  }

  #img_toolbar {
    float: right;
    margin-right: 10px;
  }

  #btn_toolbar {
    width: 15%;
    float: left;
    margin-left: 10px;
    --background: rgb(82, 27, 145);
  }

  #p_footer {
    float: left;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
  }

  #btn_footer {
    float: right;
    margin-right: 10px;
    height: 30px;
    --background: rgb(82, 27, 145);
  }

  #btn_footer2 {
    width: 100%;
    height: 40px;
    font-family: Font-Regular;
    margin-bottom: 5px;
    white-space: normal;
    border: none;
    color: white;
    --background: rgb(82, 27, 145);
  }

  #btn_footer3 {
    width: 50%;
    height: 40px;
    font-family: Font-Regular;
    margin-bottom: 5px;
    white-space: normal;
    border: none;
    color: white;
    --background: rgb(82, 27, 145);
    margin-left: 50px;
  }

  .spinner {
      width: 200px;
      height: 200px;
    
      position: relative;
      margin: 100px auto;
    }
    
    .double-bounce1, .double-bounce2 {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: transparent;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
      
      -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
      animation: sk-bounce 2.0s infinite ease-in-out;
    }
    
    .double-bounce2 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }
    
    @-webkit-keyframes sk-bounce {
      0%, 100% { -webkit-transform: scale(0.0) }
      50% { -webkit-transform: scale(1.0) }
    }
    
    @keyframes sk-bounce {
      0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
      } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
    }
  
    .custom-loading{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 999;
      background: rgba(2, 2, 2, 0.144);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .texto-gris{
      color: rgb(100, 100, 100) !important;
    }

    .custom-loading2{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 999;
      background: rgba(2, 2, 2, 0.6);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .divInterno2{
      width: 80%;
      height: 180px;
      border-style: solid;
      border-color: rgb(206, 170, 156);
      background-color: rgb(11, 6, 3);
    
      .form {
        text-align: center;
    
        h2 {
          color: rgb(206, 170, 156);
          font-size: 15px;
        }
    
        ion-button {
          color: rgb(206, 170, 156);
          font-size: 25px;
        }
      }
    }


    .scanner-buttons {
      margin: 0px;
      position: absolute;
      bottom: 100px;
      width: 80%;
      margin-left: 10%;
      height: 50px;
      z-index: 11;
    }
      
    .scan-box {
      border: 2px solid #fff;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
      content: '';
      display: block;
      left: 50%;
      height: 300px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
    }