<ion-grid>
  <ion-row>
    <ion-col>
      <div (click)="reproducirSonido(1)"><img src="../../assets/images/numeros/1.png"/></div>
    </ion-col>
    <ion-col>
      <div (click)="reproducirSonido(2)"><img src="../../assets/images/numeros/2.png"/></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div (click)="reproducirSonido(3)"><img src="../../assets/images/numeros/3.png"/></div>
    </ion-col>
    <ion-col>
      <div (click)="reproducirSonido(4)"><img src="../../assets/images/numeros/4.png"/></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div (click)="reproducirSonido(5)"><img src="../../assets/images/numeros/5.png"/></div>
    </ion-col>
    <ion-col>
      <div (click)="reproducirSonido(6)"><img src="../../assets/images/numeros/6.png"/></div>
    </ion-col>
  </ion-row>
</ion-grid>